<div class="midnav">
    {% if current_page.node.parent %}
        <a class="mid-nav-url" href="
                {% if full_style_url %}
                    {% url "exeapp.views.package.preview" current_page.node.parent.package_id current_page.node.parent.id %}
{#                {% else %}#}
{#                    {{ current_page.prev_page.name }}.html#}
                {% endif %}
                ">Parent
        </a>
    {% endif %}

    {% if current_page.prev_page %}
        <a class="mid-nav-url" href="
                {% if full_style_url %}
                    {% url "exeapp.views.package.preview" current_page.prev_page.node.package_id current_page.prev_page.node.id %}
                {% else %}
                    {{ current_page.prev_page.name }}.html
                {% endif %}
                ">Previous
        </a>

    {% endif %}
    {% if current_page.next_page %}
        <a class="mid-nav-url" href="
                {% if full_style_url %}
                    {% url "exeapp.views.package.preview" current_page.next_page.node.package_id current_page.next_page.node.id %}
                {% else %}
                    {{ current_page.next_page.name }}.html
                {% endif %}
                ">Next
        </a>
    {% endif %}
</div>
