{% load static %}
{% load export_extras %}

{% with NAVIGATION_LINKS="exe/export/navigation_links.html" %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{current_page.node.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="{% if full_style_url%}{% get_static_prefix %}css/styles/{% endif %}base.css" />
      <link rel="stylesheet" type="text/css" href="{% if full_style_url %}{% get_static_prefix %}css/styles/{{current_page.node.package.style}}/{% endif %}content.css" />
{#      <link rel="stylesheet" type="text/css" href="{% if full_style_url %}{% get_static_prefix %}css/styles/{{current_page.node.package.style}}/{% endif %}nav.css" />#}
      <script src="js/vendor/modernizr-2.6.2.min.js"></script>
      <script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
        {% view_media current_page full_style_url %}
       {% if full_style_url %}

       {% endif %}
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
        <section class="container">
            <span>Land Use Planning</span>
            <a href="">
                <div class="headerimage"></div>
            </a>
        </section>
    </header>
    <section class="content">
      <!-- TODO Background -->
        <aside class="left">
        <nav>
            {% navigation_bar current_page full_style_url %}
        </nav>
        </aside>
        <h1>{{current_page.node.title}}</h1>
        <div class="middle">
            {% include NAVIGATION_LINKS %}
            {% include "exe/export/page_content.html" %}
            {% include NAVIGATION_LINKS %}
            {% render_licence current_page %}
            {% include "exe/export/footer.html" %}
        </div>
        <aside class="right">
            <div class="rightimages"></div>
        </aside>
    </section>
    <div style="clear:both"></div>
    <footer>
        <section class="container">
            <span class="copyright">copyright © 2013 by <strong>medienzentrum</strong>. All rights reserved.</span>
        </section>
    </footer>
  </body>
</html>
{% endwith %}
