BeautifulSoup4
cymysql
Django==1.7
argparse
distribute
django-extensions
ipython>=0.13
django-registration-redux
django-sendfile
django-cymysql
-e git+https://github.com/alendit/django-json-rpc.git#egg=django-json-rpc
pillow
gunicorn
feedparser
django-require
autobahn[asyncio,twisted,accelerate]==0.9.3-2
aiohttp
PyPDF2
twisted
wikipedia
django-filebrowser-no-grappelli
django-ckeditor
sqlparse
