BeautifulSoup4
cymysql
Django>=1.5
Pillow>=2.0
argparse
distribute
django-extensions
ipython>=0.13
django-registration
django-grappelli
django-tinymce
django-sendfile
-e git+https://github.com/alendit/django-json-rpc.git@python3#egg=django-json-rpc
-e git+https://github.com/alendit/django-filebrowser.git#egg=django-filebrowser
-e https://github.com/alendit/Pillow.git#egg=Pillow
south
gunicorn
feedparser
