BeautifulSoup4
cymysql
Django>=1.5
Pillow>=2.0
argparse
distribute
django-extensions
ipython>=0.13
hg+https://bitbucket.org/ubernostrum/django-registration#egg=registration
django-grappelli
django-tinymce
django-filebrowser
django-sendfile
-e git://github.com/samuraisam/django-json-rpc.git@ffcedec1e6cb05400d92ddde550905458e5119f6#egg=django_json_rpc-dev
south
gunicorn
feedparser
