@import "compass/css3";
@import "compass/css3/images";
@import "../../common.scss";

$lightgreen: rgb(86%, 91%, 76%);
$green: rgb(49%, 70%, 18%);
$grey: lighten(black, 30%);
$headerimage: "tumlogo_bea.png";

body {
  font-family: "Open Sans";
  color: $grey;
  background-image: url(img/debut_light.png);
  overflow-y: visible;
}

.middle h2 {
  font-family: "Droid Serif";
}

.middle {
  h1, h2, h3, h4, h5 {
    color: $green;
  }
}

header {
  background-color: $green;
  font-family: "Droid Serif";

  &.affix-static:not(.affix) {
    position: static !important;
    margin-bottom: 40px;
  }

  &.affix, &.affix-static {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 10;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      width: calc(100% - 40.02px);
    }
  }
  &.affix ~ section.content > .middle {
    margin-top: 102px;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  hr {
    color: #777777;
    background-color: #777777;
    height: 1px;
  }

  .left_wrapper {
    .left {
      &.affix-top {
        position: fixed;
        top: 102px
      }

      &.affix {
        position: fixed;
        top: 102px;
      }
      nav {
        background-color: rgb(86%, 91%, 76%);
        border: 1px solid $green;

        ul {
          li {
            > a {
              &.active {
                color: $green;
              }
              &:hover {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }
  .rightimages.affix-top {
    position: static;
  }

  .rightimages.affix {
    position: fixed !important;
    top: 92px;
  }

  .middle {
    margin-left: 210px;
  }

  article {
    width: 100%;
    ul {
      list-style-position: outside;
      li {
        list-style-position: outside;
      }
    }

    ol {
      margin: 3px 5px 3px 5px;
      list-style-position: outside;
      li {
        list-style-position: outside;
      }
    }
    strong {
      color: $grey;
    }
    .iDevice {
      a {
        color: $grey;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

div.midnav {
  a.mid-nav-url {
    background-color: $lightgreen;
    &:hover {
      background-color: $green;
    }
  }

}

footer {
  .container {
    border-top: 1px solid $green;
  }
}

#menu-toggle {
  display: none;
}

.glyphicon {
  margin: 2px 8px 2px 2px;
  float: right;
  padding: 3px;
}

@media (max-width: 1200px) {
  .iDevice {
    margin-left: 3vw;
    margin-right: 3vw;
    .iDevice_inner, > p {
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }
  .left_wrapper {
    margin-left: -250px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .right {
    display: none;
  }

  .middle {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .content {
    width: 100%;
  }

  body.active {
    .left_wrapper {
      margin-left: 0px;
      width: 250px;
      position: absolute;
      opacity: 1;
    }
  }

  #menu-toggle {
    display: inline-block;
    float: left;
    margin: 0em 1em 0em 1em;
  }
}
