@import "compass/css3";
@import "compass/css3/images";

$lightgreen: rgb(86%, 91%, 76%);
$green: rgb(49%, 70%, 18%);
$grey: lighten(black, 30%);
$headerimage: "tumlogo_bea.png";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.428571429;
  color: $grey;
  background-image: url(img/debut_light.png);
  background-repeat: repeat;
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  ul {
    padding-left: 0;
  }
}

.middle h1 {
  font-size: 24px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px;
  &.pagetitle {
    color: $green;
    margin-top: 25px;
  }

}

.middle h2 {
  font-size: 16px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid $green;
}

.middle h3 {
  font-size: 14px;
  font-weight: bold;
}

.middle {
  h1, h2, h3, h4, h5 {
    color: $green;
  }
}

header {
  background-color: $green;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray;
  //  position: fixed;
  right: 10px;
  left: 10px;

  &.affix {
    position: fixed;
    top: 0;
    right: 10px;
    left: 10px;
    z-index: 10;

    span {
      color: white;
      font-size: 30px;
      font-family: "Droid Serif";
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      width: 80%;
    }
  }

  span {
    color: white;
    font-size: 30px;
    font-family: "Droid Serif";
  }

  a {
    float: right;

    //    .headerimage {
    //      @include background(url(img/#{$headerimage}));
    //      height: image-height($headerimage) - 1; // leaks white when full height
    //      width: image-width($headerimage);
    //    }
  }
}

.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  hr {
    color: #777777;
    background-color: #777777;
    height: 1px;
  }

  .left_wrapper {
    float: left;
    width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .left {
      float: left;
      width: 200px;
      min-height: 1px;
      &.affix-top {
        position: static;
      }

      &.affix {
        position: fixed;
        top: 112px;
      }
      nav {
        background-color: rgb(86%, 91%, 76%);
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        border: 1px solid $green;
        width: 185px;
        position: fixed;


        ul {
          li {
            list-style: none;
            line-height: 30px;
            margin-left: 15px;
            > a {
              display: inline-block;
              padding-left: 20px;
              width: 100%;
              padding-top: 4px;
              padding-bottom: 4px;
              line-height: 18px;
              color: $grey;
              text-decoration: none;

              &.active {
                color: $green;
                font-weight: bold;
              }
              &:hover {
                background-color: $green;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .right {
    width: 202px;
    float: right;
    margin-left: 20px;
    min-height: 1px;

    .rightimages {
      position: fixed;
      margin-bottom: 10px;
      background: url("img/right_logo.png");
      background-repeat: no-repeat;
      width: image-width("right_logo.png");
      height: image-height("right_logo.png");

      &.affix-top {
        position: fixed;
      }

      &.affix {
        position: fixed;
        top: 102px;
      }
    }
  }

  .middle {
    float: left;
    width: 728px;
  }

  article {
    width: 100%;
    float: left;
    p {
      margin-bottom: 20px;
    }
    table td {
      padding: 3px 5px 3px 5px;
    }
    table {
      margin-bottom: 20px;
    }
    ul {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      li {
        list-style-position: outside;
        list-style-type: square;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }

    ol {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      li {
        list-style-position: outside;
        list-style: decimal;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }
    strong {
      color: $grey;
      font-weight: bold;
    }
    .lup {
      float: right;
      margin-left: 20px;
    }
    .iDevice {
      ul {
        margin-bottom: 0px;
        li {
          margin-left: 0px;
          padding-left: 0px;
        }
      }
      a {
        color: $grey;
        text-decoration: underline;
        &:hover {
          color: $green;
        }
      }
      .toc {
        display: block;
        page-break-after: 0px;
        padding-left: 30px !important;
        ul {
          padding-left: 5px;
          li {
            a {
              text-decoration: none;
            }
            list-style-type: none;
            font-weight: bold;
            ul li {
              margin-left: 15px !important;
              ul li {
                font-weight: normal !important;
              }
            }
          }
        }
      }
    }

  }
}

div.midnav {
  float: right;

  a.mid-nav-url {
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: $lightgreen;
    border-radius: 5px;
    border: 1px solid $green;
    text-decoration: none;
    color: $grey;
    margin-left: 10px;

    &:hover {
      background-color: $green;
      text-decoration: none;
      color: white;
    }
  }

}

footer {
  .container {
    margin-top: 30px;
    border-top: 1px solid $green;

    .copyright {
      font-size: 11px;
      color: $grey;

      strong {
        font-style: italic;
      }
    }
  }
}

#menu-toggle {
  display: none;
}

@media (max-width: 767px) {
  .iDevice {
    margin-left: 3vw;
    margin-right: 3vw;
    .iDevice_inner, > p {
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }
  .left_wrapper {
    margin-left: -250px;
    transition: all 0.4s ease 0s;
    position: absolute;
    z-index: 1;
  }
  .right {
    display: none;
  }

  .middle {
    width: 100% !important;
  }
  .content {
    width: 100%;
  }

  body.active {
    .left_wrapper {
      margin-left: 0px;
      width: 250px;
      transition: all 0.4s ease 0s;
      position: absolute;


      .glyphicon {
        margin: 2px 8px 2px 2px;
        border: 1px solid black;
        border-radius: 2px;
        float: right;
        padding: 3px;
      }
    }
  }

  #menu-toggle {
    display: inline-block;
    float: left;
    margin: 0em 1em 0em 1em;
  }
}

