{% load i18n %}
<form id="properties_form" class="clearfix" method="post" action=".#properties">{% csrf_token %}
	{% if properties_form.errors %}
	<p>Please correct following error{{ properties_form.errors|pluralize }}</p>
	{% endif %}
	
	{{ forms.errors.as_text }}
	
	{% if properties_form.title.errors %}
		{{properties_form.title.errors}}
	{% endif %}
	
	{% if properties_form.author.errors %}
		{{properties_form.author.errors}}
	{% endif %}
	
	{% if properties_form.email.errors %}
		{{properties_form.email.errors}}
	{% endif %}

    {% if properties_form.logoImg.errors %}
        {{properties_form.logoImg.errors}}
    {% endif %}
	{% for hidden in properties_form.hidden_fields %}
	{{ hidden }}
	{% endfor %}

	<div class="pull-left">
		<label for="title">{% trans "Package title" %}</label>

		<input placeholder="{% trans 'Title' %}" name="title" type="text" value="{{ properties_form.title.value }}">

		<div class="pull-left">
			<label for="author">{% trans "Package Author" %}</label>
			<input placeholder="{% trans 'Package Author' %}" name="author" type="text" value="{{ properties_form.author.value }}">
		</div>
		
		<div class="pull-right">		
			<label for="email">{% trans "Email" %}</label>
			<input placeholder="eMail Address." name="email" type="text" value="{{ properties_form.email.value }}">
		</div>
        <label for="logoImg">Logo</label><br>
        {{ properties_form.logoImg }}
        <input class="pull-left submit" type="reset" value="{% trans 'Cancel' %}">
        <input class="pull-right submit" type="submit" value="{% trans 'Apply' %}">
	</div>
	<div class="pull-right">
        <label for="description">{% trans "Description" %}</label>
        <textarea placeholder="{% trans 'Description of the Package' %}" name="description">{{ properties_form.description.value }}</textarea>

    </div>


</form>