@import url('http://fonts.googleapis.com/css?family=PT+Sans:700|Exo|Open+Sans:400,500,700');
@import url('reset.css');
@import url('navi.css');
@import url('content.css');
@import url('forms.css');

html {
	/*background:#ecedeb url('/static/images/mz/background.png') center center no-repeat;
	background-size:cover;*/
	height:100%;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 20%, #ecedeb 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,#ffffff), color-stop(100%,#ecedeb)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 20%,#ecedeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 20%,#ecedeb 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 20%,#ecedeb 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #ffffff 20%,#ecedeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecedeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	margin:90px auto 0;
	min-height:500px;
	width:1200px;
	z-index:1;
	padding-left: 30px;
	padding-right: 30px;
	color:#65626A;
	z-index:1;
}

#wrapper a:hover {
	text-decoration:none;
	color:#a71e20;
}

#box_left {
	float:left;
	width:170px;
	padding-right: 20px;
	min-height:20px;
}

#box_right {
	float:right;
	width:190px;
	min-height:20px;
}

#header {
	border-bottom:1px dotted #9B9B9B;
	font-family:"Exo";
	font-size:26px;
	letter-spacing:2px;
	margin-bottom:35px;
	padding-bottom:10px;
	padding-left:1010px;
	text-align:left;
}

#content {
	background:url(/static/images/mz/content_bg.png) repeat-y;
	float:left;
	min-height:100%;
	width:747px;
	padding-left:30px;
	padding-right:30px;
}

#content < #authoring {
	padding-left:0px;
	padding-right:0px;
}

#footer {
	border-top:1px dotted #9B9B9B;
	font-size:13px;
	margin-top:20px;
	padding-bottom:10px;
	padding-left:1010px;
	padding-top:10px;
}
.jstree li {
	margin-left:0px !important;
}

.jstree li a {
	font-size:10pt;
	color:rgb(137, 137, 137);
}

.jstree > ul > li {
	margin-bottom:10px;
}

#box_right .jstree > ul > li > a {
	font-weight: bold;
	text-decoration: none !important;
	color: inherit !important;
}

#box_right .jstree-default .jstree-clicked {
	font-weight: normal;
}

.jstree-default .jstree-clicked {
	font-weight: bold !important;
}

.jstree-leaf:hover a {
	text-decoration: none !important;
	color:#a71e20;
}

#settings a {
	display:block;
	font-size:10pt;
	line-height:15px;
	text-decoration:none;
	color:rgb(101,98,106);
	padding-left:7px;
	padding-right:7px;
	padding-top:4px;
	padding-bottom:4px;
}

#settings a:hover {
	color:white;
	background-color:rgb(101, 98, 106);
}

#download a {
	display:block;
	font-size:10pt;
	line-height:15px;
	text-decoration:none;
	color:rgb(101,98,106);
	padding-left:7px;
	padding-right:7px;
	padding-top:4px;
	padding-bottom:4px;
}

#download a:hover {
	color:white;
	background-color:rgb(101, 98, 106);
}

#footer a {
	color: #757575;
	text-decoration:none;
}