#middle-row {
	background-color:#FFF; 
	background-image:url(/static/images/mz/authoring_bg.png);
	background-repeat:repeat-y;
	/*background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(left,  #fefefe 0%, #e8e8e8 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefefe), color-stop(50%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fefefe 0%,#e8e8e8 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fefefe 0%,#e8e8e8 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fefefe 0%,#e8e8e8 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(left,  #fefefe 0%,#e8e8e8 50%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	border:1px dotted #929292;
	min-height:400px;
	margin-bottom:40px;
	padding:15px;
	min-height:auto;
}

h1 {
	color:#a71e20;
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	font-weight:700;
	letter-spacing:2px;
	text-transform:uppercase;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	font-weight:700;
	margin-bottom:13px;
	margin-left:-3px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.SelectStyle {
	width:328px;
	height:200px;
	padding:6px;
}

.SelectStyle:hover {
	padding:4px;
	border:2px solid #de0010;
}

.StyleActive {
	padding:4px;
	border:2px solid #de0010;
}

.tip {
	font-size: 12px;
	display:none;
	position:absolute;
	top:1;
	left:1;
	margin:5px 0px 0px 0px;
	padding:0px 8px 0px 8px;
	height:30px;
	color:#fff;
	font-size:13px;
	line-height:30px;
	white-space:nowrap;
	background:rgba(0,0,0,0.7)
}

/*.tip::before {
	content: '';
	display: block;
	float: left;
	margin: -8px 0px 0px 0px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.7);
	border-right-width: 5px;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}*/