.multichoice.right {
    color: green;
}

.multichoice.wrong {
    color: red;
}

.multichoice.result {
    font-weight: bold;
}

.multichoiceoption .wrong_answer {
    font-style: italic;
    color: red;
}

.multichoiceoption .right_answer {
    font-style: italic;
    color: green;
}

.multichoiceoption input {
    position: relative;
    top: 2px;
    margin-right: 6px;
}
