.multichoice.mc-right {
    color: green;
}

.multichoice.mc-wrong {
    color: red;
}

.multichoice.mc-result {
    font-weight: bold;
}

.multichoiceoption .wrong_answer {
    font-weight: bold;
    color: red;
}

.multichoiceoption .right_answer {
    font-weight: bold;
    color: green;
}

.multichoiceoption .right_answer .mc-feedback, .multichoiceoption .wrong_answer .mc-feedback {
    font-style: italic;
    font-weight: normal;
    color: red;
}

.multichoiceoption input {
    position: relative;
    top: 2px;
    margin-right: 6px;
}
