.multichoice.right {
    color: green;
}

.multichoice.wrong {
    color: red;
}

.multichoice.result {
    font-weight: bold;
}

.multichoiceoption .wrong_answer {
    font-style: italic;
    color: red;
}
