.protected_freetext_hint span
{
    background-image: url("/static/images/stock-lockscreen.png");
    background-repeat: no-repeat;
    background-color: #f4f379;
    padding-left: 15px;
    padding-right: 5px;
}
.protected_password_error
{
  padding: 5px;
  margin-left: 5px;
  height: 24px;
  color: white;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;
  background: rgba(167, 30, 32, 0.8);
}