{% load static %}
{% load common %}
{% block idevice_block %}
<div class="iDevice emphasis{{idevice.emphasis}}"
	{% include 'exe/idevices/idevice_id.html' %}>
{% if idevice.emphasis != idevice.NOEMPHASIS %}
	{% if idevice.icon %}
{#		<img alt="Idevice Icon" class="iDevice_icon" src="{% block icon_url %}{{idevice.icon}}{% endblock %}" />#}
	{% endif %}
	<h2>{{idevice.title}}</h2>
<div class="iDevice_inner">
{% endif %}
{% block idevice %}{% endblock idevice %}
{% if idevice.emphasis != idevice.NOEMPHASIS %}</div>{% endif %}
{% endblock %}
</div>
