{% extends "base.html" %}
<!-- Base template for pages which require authentication -->
{% block static_javascript %}
    <script>
        $(document).ready(function(event) {
            $("#help_trigger").on("click", function() {
                show_lightbox(960, 756);
                $('#helpIFrame').
                        show();
                return false;
            });
        });
    </script>
{% endblock %}
{% block dialog %}
    <iframe scrolling="auto" id="helpIFrame" src="{% url "django.contrib.flatpages.views.flatpage" url="/help/" %}"></iframe>
{% endblock %}
{% block footer %}
<hr>
<div class="pull-left">
	<a href="/accounts/logout/" style="text-align:left">Logout</a>
</div>
<div class="pull-right">
	<a href="#impressum">Impressum</a> |
	<a id="help_trigger" href="{% url "django.contrib.flatpages.views.flatpage" url="/help/" %}">Hilfe <i class="icon-question-sign"></i></a>
</div>
{% endblock %}
