{% load static %}
<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		
		{% block head_css %}
			<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
		{% endblock %}
		
		{% block head_javascript %}{% endblock %}
	</head>
	<body>
		{% block dialog %}
		<div id="preview" style="display:none">
			<div id="modal-dialog-bg"></div>
			<iframe scrolling="auto" class="modal-dialog" id="previewIFrame" name="previewIFrame"></iframe>
		</div>
		{% endblock %}
		
		<div id="header">
			<div>
			{% block header %}
				<h1>creyoco</h1>
				<hr>
			{% endblock %}
			</div>
		</div>
		
		<div id="wrapper">
			<div id="box_left">
				{% block box_left %}{% endblock %}
			</div>
			
			<div id="content">
				<h2>{% block h2 %}{% endblock %}</h2>
				
				<div class="basic-right-shadow"></div>

				{% block navi %}{% endblock %}
				
				<div style="clear:both"></div>
				
				<div id="middle-row">
					{% block content %}{% endblock %}
				</div>
				
				<div class="basic-bottom-shadow">
				</div>
			</div>
			<div id="box_right">
				{% block box_right %}{% endblock %}
			</div>
			<div style="clear:both"></div>
			<div id="footer">
				{% block footer %}
				<div style="text-align:right;">
					<a href="#impressum">Impressum</a> 
					<img style="margin-left:10px" src="{% get_static_prefix %}images/mz/help.png" alt="Hilfe">
				</div>
				{% endblock %}
			</div>
		</div>
		{% block append %}{% endblock %}
	</body>
</html>