{% extends "base.html" %}

{% load mainpage_extras %}

{% load static %}

{% block title %}creyoco | Kursübersicht{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/main.js"></script>
<script type='text/javascript' src="{% get_static_prefix %}scripts/jquery.jsonrpc.js"></script>
<script>
$(document).ready(function() {
	$('ul#package_list li span .check').click( function() {
		if($(this).parent().parent().hasClass('active')) {
			$(this).removeClass('icon-check');
			$(this).addClass('icon-check-empty');
			$(this).parent().parent().removeClass('active');
		}
		else {
			$(this).removeClass('icon-check-empty');
			$(this).addClass('icon-check');
			$(this).parent().parent().addClass('active');
		}
		
		if($('li').hasClass('active')) {
		    $("#delete_selected_packages").show();
	    }
	    else {
		    $("#delete_selected_packages").hide();
	    }
	});
});
</script>
{% endblock %}

{% block dialog %}
		<div id="preview" style="display:none">
			<div id="modal-dialog-bg"></div>
			<div class="modal-dialog">
				<i class="icon-remove icon-2x pull-right" style="cursor:pointer;position: absolute;right: 0;top: 0;margin-right: 10px;margin-top: 5px;" onclick="$(this).parent().parent().hide()"></i>
				<iframe scrolling="auto" id="previewIFrame" src=""></iframe>
			</div>
		</div>
{% endblock %}

{% block h2 %}Kursübersicht{% endblock %}

{% block content %}
<br>
<!--<p>Logged in as {{ user.username }}</p>-->
<button style="margin-right:10px;" type='submit' id='create_package'>
	<i class="icon-pencil"></i> Neuen Kurs erstellen
</button>

<button style="margin-right:10px;display:none" type='submit' id='delete_selected_packages'>
	<i class="icon-trash"></i> Gewählte Kurse löschen
</button>

<br><br><br>
<ul id="package_list">
	<!--{{ package_list }}-->
	{% for package in package_list %}
	<li class='package' id="package{{ package.id }}" packageid="{{ package.id }}">
		<span id="" style="display:block;float:left">
			<i class="check icon-check-empty"></i>
			<a href="{{ package.get_absolute_url }}">{{ package.title }}</a>
		</span>
		<span id="qs">
			<i onclick="$('#preview').show();$('#previewIFrame').attr('src', '{{ package.get_absolute_url }}preview')" class="icon-eye-open"></i>
			<i class="icon-pencil"></i>
			<i class="icon-download"></i>
			<i class="icon-cog"></i>
		</span>
	</li>
	{% endfor %}
</ul>

{% endblock %}