{% extends 'exe/idevices/export_base.html' %}
{% block idevice %}
  {{ form.render_export }}
  {% for formset_form in formset %}
      {{ formset_form.render_export }}
  {% endfor %}
  <input type="button" class="check_multichoice" value="Submit"
         name="idevice_action"/>
  <input type="button" class="show_answers_multiplechoice" value="Show answers"
         name="idevice_action"/>
  <input type="button" class="reset_multichoice" value="Reset"
         name="idevice_action"/>
  <span class="multichoice mc-result"></span>
{% endblock %}
