@import "compass/css3";
@import "compass/css3/images";
@import "../../common.scss";

$lightblue: rgb(219, 226, 233);
$blue: rgb(0, 33, 67);
$white: lighten(white, 100%);
$text_black: rgb(51, 51, 51);
$grey: lighten(black, 45%);
$headerimage: "tumlogo.png";


nav {
  ul {
    padding-left: 0;
  }
}

h1 {
  color: $blue;
}

h2 {
  color: $blue;
  border-bottom: 1px solid $blue;
}

h3 {
  color: $blue;
  font-size: 14px;
  font-weight: bold;
}

header {
  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray;
  height: 84px;

  a {
    float: right;

    .headerimage {
      @include background(url(img/#{$headerimage}));
      height: image-height($headerimage) - 1; // leaks white when full height
      width: image-width($headerimage);
    }
  }
}

.content {
  .left {
    background-color: $lightblue;
    border: 1px solid $blue;

    ul {
      li {
        a {
          color: $grey;

          &.active {
            color: $blue;
          }
          &:hover {
            background-color: $blue;
            color: white;
          }
        }
      }
    }
  }

	.right {
        .rightimages {
            margin-bottom: 10px;
            //background: url("img/right_logo.png");
            background-repeat: no-repeat;
            //width: image-width("right_logo.png");
            //height: image-height("right_logo.png");
        }
	}

  article {
    ul {
      list-style-position: inside;
      li {
        list-style: square;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }

    ol {
      list-style-position: inside;
      li {
        list-style: decimal;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }
    strong {
      color: $blue;
    }
    .iDevice {
      ul {
        padding-left: 0px !important;

        a {
          text-decoration: none;
          &:hover {
            color: $blue;
          }
        }

      }
      .toc {
        li {
          margin-left: 0px !important;
          list-style: none;
          font-weight: bold;
          ul li {
            list-style: disc;
            margin-left: 15px !important;
            ul li {
              font-weight: normal !important;
              margin-left: -10px !important;
            }

          }
        }

      }
    }

  }
}


div.midnav {
  float: right;

  a.mid-nav-url {
    background-color: $lightblue;
    border: 1px solid $blue;
    color: $grey;

    &:hover {
      background-color: $blue;
    }
  }
}

footer {
  .container {
    border-top: 1px solid $blue;
  }
}

