{% extends "auth_base.html" %}

{% load i18n %}
{% load mainpage_extras %}
{% load require %}

{% load static %}

{% block title %}creyoco | {% trans "Overview" %}{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
<link rel="stylesheet"
          href="{% get_static_prefix %}scripts/thirdparty/dragula/dragula.css"
          type="text/css" media="screen"/>
<link rel="stylesheet"
          href="/static/scripts/bower_components/jquery-modal/jquery.modal.css"
          type="text/css" media="screen"/>
{% endblock %}

{% block head_javascript %}
    {% require_module "package_list.js" %}
{% endblock %}

{% block dialog %}
                {{ block.super }}
                <div id="previewIFrame" class = "modal" >
	                <iframe scrolling="auto"  src="" >
	                </iframe>
            	</div>

    <div id="importZip" class="modal">
        <h3>Browse file</h3>
        <form action="exeapp/upload_package/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Upload" id="Save"/>
        </form>
    </div>

        <div id="download_box" class="modal">
            <h3>Wählen Sie das Dateiformat für den Kurs-Export.</h3>
            {% for type, title in exporter_type_title_map.items %}
                <a class="export_link" data-exporttype="{{ type }}" href=""><i class="icon-arrow-right"></i> {{title}}</a>
            {% endfor %}
        </div>
{% endblock %}

{% block header %}
<div class="user_info">
    <div class="account">
        <p>Logged in as: <em>{{ user }}</em>
            <a href="/accounts/logout/" style="text-align:left">(Logout)</a>
        </p>
    </div>
</div>
    {{ block.super }}
{% endblock %}

{% block h2 %}{% trans "Overview" %}{% endblock %}

{% block content %}
<br>
<!--<p>Logged in as {{ user.username }}</p>-->
<button style="margin-right:10px;" type='submit' id='create_package'>
	<i class="icon-pencil"></i> {% trans "Create a new course" %}
</button>

<button style="margin-right:10px;display:none" type='submit' id='delete_selected_packages'>
	<i class="icon-trash"></i> {% trans "Remove selected courses" %}
</button>

<button style="margin-right:10px;display:none" type='submit' id='duplicate_selected_packages'>
	<i class="icon-copy"></i> {% trans "Duplicate selected courses" %}
</button>
<button style="margin-right:10px" type='submit' id='import_package'>
	<i class="icon-save"></i> {% trans "Import Course" %}
</button>

{% if messages %}
<ul class="messages" style="position: relative;" id="error_messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br><br><br>
<ul id="package_list">
	{% for package in package_list %}
	<li class='package' id="package{{ package.id }}" packageid="{{ package.id }}">

		<span style="display:block;float:left">
            <i class="icon-move"></i>
			<i class="check icon-check-empty"></i>
			<a href="{{ package.get_absolute_url }}">
        {{ package.title }}
        {% if package.user != user %}
          <span class="shareduser">shared by: {{ package.user.username }}</span>
        {% endif %}
      </a>
		</span>
		<span class="qs">
			<i class="icon-eye-open" ></i>
			<i class="icon-pencil"></i>
			<i class="icon-download"></i>
			<i class="icon-cog"></i>
		</span>
	</li>
	{% endfor %}
</ul>

{% endblock %}
