{% extends "base.html" %}

{% load mainpage_extras %}

{% load static %}

{% block title %}Package Page: {{ package.title }}{% endblock %}

{% block head%}
<!-- CSS -->
<!--<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/exe.css" />-->
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/ui-lightness/jquery-ui-1.8.4.custom.css" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/basic.css" />
<!-- SCRIPTS -->
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/mainpage.js"></script>
<script type='text/javascript' src='{% get_static_prefix %}scripts/jquery.jsonrpc.js'></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.form.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.confirm.js"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
<div id="header">
creyoco
</div>
		
<div id="box_left">
<h1>Themenkatalog</h2>
<div id="outline">
<div id="outlinecontroll">
<a id="btnAdd" class="bigButton">Add</a>
<a id="btnRemove" class="bigButton">Remove</a>
<a id="btnRename" class="bigButton" action="RenameNode">Rename</a>
<a id="btnDuplicate" class="bigButton" action="DblNode">Duplicate</a>
</div>
<div id="outlinemove">
<a id="btnPromote" class="fg-button smallButton">Promote</a>
<a id="btnDemote" class="fg-button smallButton" action="Demote">Demote</a>
<a id="btnUp" class="fg-button smallButton" action="Up">Up</a>
<a id="btnDown" class="fg-button smallButton" action="Down">Down</a>
</div>
{% render_outline package %}
</div>
</div>
		
<div id="content">
<h1>Inhalt</h2>
<img style="margin-bottom:-258px;margin-left:747px;" src="{% get_static_prefix %}images/mz/authoring_shadow_top.png" alt="" />
				
<div id="middle">
<div id="navi-left">
<span class="button">
<a href="./index.html#sdf">Inhalt bearbeiten</a>
</span>
<span class="button_active">
<a href="#sdf">Ausgabe-Layout</a>
</span>
<span class="button" style="">
<a href="#fdds">Vorschau</a>
</span>
</div>
			
<div id="navi-right">
<span class="button">
<a href="#fds">Projekt-Eigenschaften</a>
</span>
</div>
				
<div style="clear:both"></div>
<ul>
<li><a href="#authoring">Authoring</a></li>
<li><a href="#properties">Properties</a></li>
</ul>
    				
<div id="middle-row">
<div id="authoring">
<iframe style="width:100%;height:100%;" id="authoringIFrame1" name="authoringIFrame1"></iframe>
</div>
				
<div id="properties">
<div id="package_properties">
<form id="properties_form" class="property_form" method="post" action=".#properties">
{% if properties_form.errors %}
<p>Please correct following error{{ properties_form.errors|pluralize }}</p>
{% endif %}
<table>
{{ properties_form.as_table }}
</table>
<input type="submit" value="Apply" />
</form>
</div>
    						
<div id="dublincore">
<form id="dublincore_form" class="property_form" method="post" action=".#properties">
{% if dublincore_form.errors %}
<p>Please correct following error{{ dublincore_form.errors|pluralize }}</p>
{% endif %}
<table>
{{ dublincore_form.as_table }}
</table>
<input type="submit" value="Apply" />
</form>
</div>
</div>
</div>
</div>		
<img style="margin-top:-272px;margin-left:-3px;" src="{% get_static_prefix %}images/mz/authoring_shadow_bottom.png" alt="" />
</div>
<div id="box_right">
<h1>Werkzeuge</h2>
{% render_idevicepane idevices %}
</div>
<div style="clear:both">
</div>
<div id="footer">
Impressum
</div>
<div id="package_id" style="display: none">
{{package.id}}
</div>
{% endblock %}
