{% extends "base.html" %}

{% load mainpage_extras %}
{% load authoring_extras %}

{% load static %}

{% block title %}{{ package.title }} | creyoco{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
{% endblock %}
{% block head_javascript %}
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/mainpage.js"></script>
<script type='text/javascript' src="{% get_static_prefix %}scripts/jquery.jsonrpc.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/common.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.form.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.confirm.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.qtip.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.pjax.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/eyecandy.js"></script>
{% render_form_media current_node %}
{% endblock %}

{% block dialog %}
		<div id="preview" style="display:none">
			<div id="modal-dialog-bg"></div>
			<div class="modal-dialog">
				<i class="icon-remove icon-2x pull-right" style="cursor:pointer;position: absolute;right: 0;top: 0;margin-right: 10px;margin-top: 5px;" onclick="$(this).parent().parent().hide()"></i>
				<iframe scrolling="auto" id="previewIFrame" src="preview"></iframe>
			</div>
		</div>
{% endblock %}

{% block box_left %}
<div class="sidebar">
	<select data-placeholder="Wählen Sie einen Kurs" class="chzn-select" tabindex="-1" id="select_course">
		<option value="{{ package.get_absolute_url }}">{{ package.title }}</option>
		{% for package_iter in package_list %}
		{% if package.title != package_iter.title %}
		<option value='{{ package_iter.get_absolute_url }}'>{{ package_iter.title }}</option>
		{% endif %}
		{% endfor %}
		<option value='/exeapp'>Kursübersicht</option>
	</select>
	
	<div id="outline">
		<button class="first" id="btnAdd" class="newline-first"><i class="icon-plus-sign icon-large"></i></button>
		<button id="btnRemove"><i class="icon-remove-sign icon-large"></i></button>
		<button id="btnRename" action="RenameNode"><i class="icon-pencil icon-large"></i></button>
		<button id="btnDuplicate"><i class="icon-copy icon-large"></i></button>
		<button class="last" onclick="$('.secondary').toggle(800);"><i class="icon-sitemap icon-large"></i></button>
	
		<div class="secondary">
			<button class="first" id="btnDemote"><i class="icon-arrow-right icon-large"></i></button>
			<button id="btnPromote"><i class="icon-arrow-left icon-large"></i></button>
			<button id="btnUp"><i class="icon-chevron-up icon-large"></i></button>
			<button class="last" id="btnDown"><i class="icon-chevron-down icon-large"></i></button>
		</div>
		{% render_outline package current_node %}

		<div id="download" style="margin-left:0;display:none;background-color:white;width:130px;border:1px solid rgb(155, 155, 155)">
			{% for type, title in exporter_type_title_map.items %}
			<a class="export_link" href="{% url exeapp.views.package.export package.id type %}">{{title}}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block box_right %}
<div class="sidebar">
	<h2>Werkzeuge</h2>
	{% render_idevicepane idevices %}
</div>
{% endblock %}

{% block navi %}
<ul id="navi">
	<li id="edit" class="active"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/edit">Inhalt bearbeiten</a></li>
	<li id="layout"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/layout">Layout wählen</a></li>
	<li id="export"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/export">Export & Download</a></li>
</ul>
{% endblock %}

{% block h2 %}Inhalt{% endblock %}

{% block content %}
<div id="selectStyle" style="display:none">
{% render_styles %}
</div>

<div id="authoring">
	{% include "exe/authoring.html" %}
</div>

<div id="properties" style="display:none;">
	<div id="package_properties">
		<form id="properties_form" class="property_form" method="post" action=".#properties">
			{{ properties_form.errors }}
			{% for hidden in properties_form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

			<div style="width:49%;box-sizing:border-box;float:left">
				<label for="title">Kursname</label>
				<input style="width:100%;box-sizing:border-box;" placeholder="" name="title" type="text" value="{{ properties_form.title.value }}">
	
				
				<div style="float:left;width:48%;box-sizing:border-box;">
					<label for="author">Autor</label>
					<input style="width:100%;box-sizing:border-box;" placeholder="" name="author" type="text" value="{{ properties_form.author.value }}">
				</div>
				
				<div style="float:right;width:48%;box-sizing:border-box;">
					<label for="email">Email</label>
					<input style="width:100%;box-sizing:border-box;" placeholder="" name="email" type="text" value="{{ properties_form.email.value }}">
				</div>

				<input style="width:48%;box-sizing:border-box;float:right" type="reset" value="Abbrechen">
				<input style="width:48%;box-sizing:border-box;float:left" type="submit" value="Übernehmen">
			</div>
			<div style="width:49%;float:right">
				<div style="float:right;width:100%;box-sizing:border-box;">
					<label for="description">Beschreibung</label>
					<textarea style="box-sizing:border-box;max-width:100%;height:81px;" name="description">{{ properties_form.description.value }}</textarea>
				</div>
			</div>
			<!--{% for field in properties_form.visible_fields %}
			<div>
				<label for="{{ field.html_name }}">{{ field.label }}</label>
				<input placeholder="" name="{{ field.html_name }}" type="text" value="{{ field.value }}">
			</div>
			{% endfor %}-->
		</form>
		<div style="clear:both"></div>
	</div>
	

		
	<h3 style="margin-top:30px;cursor:pointer" onclick="$('#dublincore').toggle('slow');"><i class="icon-caret-right" style="margin-right:10px;"></i>Dublin Core</h3>
		
		<div id="dublincore">
		<form id="dublincore_form" class="property_form" method="post" action=".#properties">
			{{ dublincore_form.errors }}
				{% for hidden in dublincore_form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			

			<div style="width:49%;float:left">
				<label for="title">Title</label>
				<input placeholder="" name="title" type="text" value="{{ dublincore_form.title.value }}">
			</div>
			
			<div style="width:49%;float:right">			
				<label for="creator">Creator</label>
				<input placeholder="" name="creator" type="text" value="{{ dublincore_form.creator.value }}">
			</div>

			<div style="width:49%;float:left">			
				<label for="subject">Subject</label>
				<input placeholder="" name="subject" type="text" value="{{ dublincore_form.subject.value }}">
			</div>

			<div style="width:49%;float:right">			
				<label for="description">Description</label>
				<input placeholder="" name="description" type="text" value="{{ dublincore_form.description.value }}">
			</div>

			<div style="width:49%;float:left">			
				<label for="publisher">Publisher</label>
				<input placeholder="" name="publisher" type="text" value="{{ dublincore_form.publisher.value }}">
			</div>

			<div style="width:49%;float:right">			
				<label for="contributors">Contributors</label>
				<input placeholder="" name="contributors" type="text" value="{{ dublincore_form.contributors.value }}">
			</div>

			<div style="width:49%;float:left">			
				<label for="date">Date</label>
				<input placeholder="" name="date" type="text" value="2013-01-29">
			<input type="hidden" name="initial-date" value="2013-01-29" id="initial-id_date" />
			</div>

			<div style="width:49%;float:right">			
				<label for="type">Type</label>
				<input placeholder="" name="type" type="text" value="{{ dublincore_form.type.value }}">
			</div>

			<div style="width:49%;float:left">			
				<label for="format">Format</label>
				<input placeholder="" name="format" type="text" value="{{ dublincore_form.format.value }}">
			</div>

			<div style="width:49%;float:right">			
				<label for="identifier">Identifier</label>
				<input placeholder="" name="identifier" type="text" value="{{ dublincore_form.identifier.value }}">
			</div>
			
			<div style="width:49%;float:left">			
				<label for="source">Source</label>
				<input placeholder="" name="source" type="text" value="{{ dublincore_form.source.value }}">
			</div>
			
			<div style="width:49%;float:right">			
				<label for="language">Language</label>
				<input placeholder="" name="language" type="text" value="{{ dublincore_form.language.value }}">
			</div>
			
			<div style="width:49%;float:left">
				<label for="relation">Relation</label>
				<input placeholder="" name="relation" type="text" value="{{ dublincore_form.relation.value }}">
			</div>
			
			<div style="width:49%;float:right">			
				<label for="coverage">Coverage</label>
				<input placeholder="" name="coverage" type="text" value="{{ dublincore_form.coverage.value }}">
			</div>
			
			<div style="width:49%;float:left">			
				<label for="rights">Rights</label>
				<input placeholder="" name="rights" type="text" value="{{ dublincore_form.rights.value }}">
			</div>
			
			<input style="width:49%;float:right;margin-top:37px;" type="submit" value="Änderungen übernehmen">
		</form>
	</div>
	<div style="clear:both"></div>
</div>
{% endblock %}
{% block footer %}
<div style="text-align:left;float:left">
	<a href="/accounts/logout/" style="text-align:left">Logout</a>
</div>
<div style="text-align:right;">
	<a href="#impressum">Impressum</a> |
	<a href="">Hilfe <i class="icon-question-sign"></i></a>
</div>
{% endblock %}
{% block append %}
<div id="package_id" style="display: none">{{package.id}}</div>
<div id="package_style" style="display:none">{{package.style}}</div>
{% endblock %}