{% extends "base.html" %}

{% load i18n %}
{% load mainpage_extras %}
{% load authoring_extras %}

{% load static %}

{% block title %}{{ package.title }} | creyoco{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mz/style.min.css">
{% endblock %}
{% block head_javascript %}
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/mainpage.js"></script>
<script type='text/javascript' src="{% get_static_prefix %}scripts/jquery.jsonrpc.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/common.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.form.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.jstree.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.confirm.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.qtip.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.pjax.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}scripts/eyecandy.js"></script>
{% render_form_media current_node %}
{% endblock %}

{% block dialog %}
		<div id="lightbox" style="display:none">
			<div id="modal-dialog-bg"></div>
			<div class="modal-dialog">
				<i class="icon-remove icon-2x pull-right" style="cursor:pointer;position: absolute;right: 0;top: 0;margin-right: 10px;margin-top: 5px;" onclick="$(this).parent().parent().hide()"></i>
					<iframe scrolling="auto" id="previewIFrame" src="preview">

					</iframe>

					<div id="download_box">
					<h3>Wählen Sie das Dateiformat für den Kurs-Export.</h3>
					{% for type, title in exporter_type_title_map.items %}
						<a class="export_link" href="{% url "exeapp.views.package.export" package.id type %}"><i class="icon-arrow-right"></i> {{title}}</a>
					{% endfor %}
					</div>
			</div>
		</div>
{% endblock %}

{% block box_left %}
<div class="sidebar">
	<select data-placeholder="Wählen Sie einen Kurs" class="chzn-select" tabindex="-1" id="select_course">
		<option value="{{ package.get_absolute_url }}">{{ package.title }}</option>
		{% for package_iter in package_list %}
		{% if package.title != package_iter.title %}
		<option value='{{ package_iter.get_absolute_url }}'>{{ package_iter.title }}</option>
		{% endif %}
		{% endfor %}
		<option value='/exeapp'>Kursübersicht</option>
	</select>

	<div id="outline">
		<div class="clearfix">
			<button class="first" id="btnAdd" class="newline-first"><i class="icon-plus-sign icon-large"></i></button>
			<button id="btnRemove"><i class="icon-remove-sign icon-large"></i></button>
			<button id="btnRename" action="RenameNode"><i class="icon-pencil icon-large"></i></button>
			<button id="btnDuplicate"><i class="icon-copy icon-large"></i></button>
			<button class="last" onclick="$('.secondary').toggle(800);"><i class="icon-sitemap icon-large"></i></button>
		</div>
		<div class="secondary clearfix">
			<button class="first" id="btnDemote"><i class="icon-arrow-right icon-large"></i></button>
			<button id="btnPromote"><i class="icon-arrow-left icon-large"></i></button>
			<button id="btnUp"><i class="icon-chevron-up icon-large"></i></button>
			<button class="last" id="btnDown"><i class="icon-chevron-down icon-large"></i></button>
		</div>
		{% render_outline package current_node %}
	</div>
</div>
{% endblock %}

{% block box_right %}
<div class="sidebar">
	<h2>{% trans "Tools" %}</h2>
	{% render_idevicepane idevices %}
</div>
{% endblock %}

{% block navi %}
<ul id="navi" class="clearfix">
	<li id="edit" class="active"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/edit">Inhalt bearbeiten</a></li>
	<li id="layout"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/layout">Layout wählen</a></li>
	<li id="download"><a>Kurs herunterladen</a></li>
	<li id="export" style="float:right;margin-right:0"><a href="{{ package.get_absolute_url }}{{ current_node.id }}/export">Metadaten</a></li>
</ul>
{% endblock %}

{% block h2 %}{% trans "Content" %}{% endblock %}

{% block content %}
<div id="selectStyle" style="display:none">
<div class="clearfix">
{% render_styles %}
</div>
</div>

<div id="authoring">
	{% include "exe/authoring.html" %}
</div>

<div id="properties" style="display:none;">
		<!--<div id="download" style="margin-left:0;background-color:white;width:130px;border:1px solid rgb(155, 155, 155)">
			{% for type, title in exporter_type_title_map.items %}
			<a class="export_link" href="{% url "exeapp.views.package.export" package.id type %}">{{title}}</a>
			{% endfor %}
		</div>
		<div id="download">
			<h3>In welchem Format möchten Sie ihren Kurs herunterladen?</h3>
			{% for type, title in exporter_type_title_map.items %}
			<a href="#">{{title}}</a>
			{% endfor %}
		</div>-->

	{% include "exe/properties_form.html" %}

	<h3 onclick="$('#dublincore_form').toggle('slow');$(this).find('i').removeClass('icon-caret-right').addClass('icon-caret-down');"><i class="icon-caret-right" style="margin-right:10px;"></i>Dublin Core</h3>
	{% include "exe/dublincore_form.html" %}
</div>
{% endblock %}
{% block footer %}
<hr>
<div class="pull-left">
	<a href="/accounts/logout/" style="text-align:left">Logout</a>
</div>
<div class="pull-right">
	<a href="#impressum">Impressum</a> |
	<a href="">Hilfe <i class="icon-question-sign"></i></a>
</div>
{% endblock %}

{% block append %}
<div id="package_id" style="display: none">{{package.id}}</div>
<div id="package_style" style="display:none">{{package.style}}</div>
{% endblock %}
