{% extends "base.html" %}
{% load static %}

{% block title %}creyoco | create your course{% endblock %}

{% block box_left %}{% endblock %}
{% block box_right %}{% endblock %}

{% block h2 %}Willkommen bei creyoco!{% endblock %}
{% block dialog %}{% endblock %}
{% block content %}
<div style="margin-top:90px;margin-left:50px;margin-right:85px;width:262px;float:left;">
	<div style="font-size:13px;font-weight:500;margin-bottom:25px">Bereits Mitglied?<span style="color:rgba(0,0,0,0.5)"> Melde dich an!</span></div>

	<form action='/accounts/login/' method='post'>
		{% csrf_token %}
		<input class="username" type="text" name="username" placeholder="Benutzername" value="{{ form.username.value|default_if_none:"" }}">
		<input class="login_password" type="password" name="password" placeholder="Passwort" value="{{ form.username.value|default_if_none:"" }}">
		<input class="login_submit" type="submit" value="Einloggen">
		<input type="hidden" name="next" value="/">
	</form>
		
	<a class="forgot_pw" href="">Passwort vergessen?</a>
</div>

<div style="margin-top:90px;margin-right:50px;float:left;width:262px;">
	<div style="font-size:13px;font-weight:500;margin-bottom:25px">Neu bei creyoco? <span style="color:rgba(0,0,0,0.5)"> Registriere dich jetzt!</span></div>
		
	<form action='/accounts/register/' method='post'>
		{% csrf_token %}				
		{% if form.username.errors %}
		<div style="position:relative;">
			<div class="error-right"><span>Bitte geben Sie einen Benutzernamen an.</span></div>
		</div>
		{% endif %}
		<input class="reg_username" type="text" name="username" placeholder="Benutzername" id="username" value="{{ form.username.value|default_if_none:"" }}">
		
		{% if form.email.errors %}
		<div style="position:relative;">
			<div class="error-right"><span>Bitte geben Sie eine valide email ein.</span></div>
		</div>
		{% endif %}
		<input class="reg_email" type="text" name="email" placeholder="E-Mail" id="email" value="{{ form.email.value|default_if_none:"" }}">
		{% if form.password2.value == "" %}
		{% else %}
		{% if form.password1.value == "" %}
		{% else %}
		{% if form.password2.value != form.password1.value %}
		<div style="position:relative;">
			<div class="error-right"><span>Die Passwörter stimmten nicht überein.</span></div>
		</div>
		{% endif %}{% endif %}{% endif %}
		{% if form.password1.errors %}
		<div style="position:relative;">
			<div class="error-right"><span>Bitte geben Sie ein Passwort ein.</span></div>
		</div>
		{% endif %}
		<input class="reg_password" type="password" name="password1" placeholder="Passwort" id="password">
		
		{% if form.password2.errors %}
		<div style="position:relative;">
			<div class="error-right"><span>Bitte wiederholen Sie das Passwort.</span></div>
		</div>
		{% endif %}
		<input class="reg_password_return" type="password" name="password2" placeholder="Passwort wiederholen" id="password">
		
		<input class="reg_submit" type="submit" value="Benutzerkonto erstellen" />
		<input type="hidden" name="next" value="/" />
	</form>
</div>

{% endblock %}