.cloze_result {display: none;}

.cloze_gap {
    display: inline-block;
    min-width: 30px !important;

    height: 1.3em;

    font-weight: bold !important;
    text-align: center;
    padding: 0px 4px 0px 4px;
    border: solid 1px;
}

.cloze_right {
    color: green !important;
    border-color: green !important;
}

.cloze_wrong {
    color: red !important;
    border-color: red !important;
}
