.cloze_result {display: none;}

.cloze_gap {
    width: 30px !important;
    font-weight: bold !important;
    text-align: center;
}

.cloze_right {
    color: green !important;
    border-color: green !important;
}

.cloze_wrong {
    color: red !important;
    border-color: red !important;
}
