@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";

$lightgreen: rgb(86%, 91%, 76%);
$green: rgb(49%, 70%, 18%);
$grey: lighten(black, 45%);
$headerimage: "tumlogo_bea.png";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");
@import url("//fonts.googleapis.com/css?family=Droid+Serif:400,700");

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
}

body {
	font-size:100%;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.428571429;
	color: lighten(black, 30%);
	background-image: url(img/debut_light.png);
	background-repeat:repeat;
}

.container {
	width:1170px;
	margin:0 auto;
}

h1 {
	font-size:24px;
	font-family:"Droid Serif";
	font-weight:bold;
	color:$green;
	letter-spacing:1px;
}

h2 {
	color:$green;
	font-size:16px;
	font-family:"Droid Serif";
	font-weight:bold;
	letter-spacing:1px;
	border-bottom:1px solid $green;
	margin-bottom:10px;
}

h3 {
	color:$green;
	font-size:14px;
	font-weight:bold;
}

header {
	background-color:$green;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:30px;
	box-shadow: 0 1px 10px -2px gray;

	span {
		color: white;
		font-size: 30px;
		font-family: "Droid Serif";
	}

	a {
		float:right;

        .headerimage {
            @include background(url(img/#{$headerimage}));
            height: image-height($headerimage) - 1; // leaks white when full height
            width: image-width($headerimage);
        }
	}
}

.content {
	width:1170px;
	margin:0 auto;
	.left {
		background-color: rgba(86%, 91%, 76%, 0.6);
		float:left;
		width:200px;
		margin-right: 20px;
		padding-top:10px;
		padding-bottom:10px;
		border-radius: 5px;
		border: 1px solid $green;

		ul {
			li {
				list-style:none;
				line-height: 30px;
				a {
					display:inline-block;
					padding-left: 20px;
					width:100%;
					color:$grey;
					text-decoration: none;


          &.active {
            color:$green;
            font-weight: bold;
          }
          &:hover {
            background-color:$green;
            color:white;
          }
        }

        ul li {
            line-height: 25px;
            a {
                font-size: 90%;
                padding-left: 30px;
            }
        }


			}
		}
	}

	.right {
		width:202px;
		float:right;
		margin-left: 20px;

        .rightimages {
            margin-bottom: 10px;
            background: url("img/right_logo.png");
            width: image-width("right_logo.png");
            height: image-height("right_logo.png");
        }
	}

	article {
		width:728px;
		float:left;
		p {
			margin-bottom: 20px;
		}
		ul {
			list-style-position: inside;
			li {
				list-style: square;
				margin-left: 20px;
			}
			margin-bottom: 20px;
		}

		ol {
			list-style-position: inside;
			li {
				list-style: decimal;
				margin-left: 20px;
			}
			margin-bottom: 20px;
		}
		strong {
			color:$green;
			font-weight: bold;
		}
		.lup {
			float:right;
			margin-left:20px;
		}
	}
}

footer {
	.container {
		margin-top: 30px;
		border-top:1px solid $green;

		.copyright {
			font-size: 11px;
			color:$grey;

			strong {
				font-style:italic;
			}
		}
	}
}
