@import "compass/css3";
@import "compass/css3/images";
@import "../../common.scss";

$lightgreen: rgb(86%, 91%, 76%);
$green: rgb(49%, 70%, 18%);
$grey: lighten(black, 30%);
$headerimage: "tumlogo_bea.png";

body {
  background-image: url(img/debut_light.png);
}

h1 {
  font-family: "Droid Serif";
  &.pagetitle {
    color: $green;
  }
}

h2 {
  border-bottom: 1px solid $green;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  color: $green;
}

header {
  background-color: $green;
  padding-bottom: 15px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray;
  right: 10px;
  left: 10px;

  span {
    width: 100%;
    color: white;
    font-size: 30px;
    font-family: "Droid Serif";
  }

  a {
    float: right;

//    .headerimage {
//      @include background(url(img/#{$headerimage}));
//      height: image-height($headerimage) - 1; // leaks white when full height
//      width: image-width($headerimage);
//    }
  }
}

.content {
  .left {
    nav {
      background-color: rgba(86%, 91%, 76%, 0.6);
      border: 1px solid $green;
      ul {
        li {
          > a {
            color: $grey;
            &.active {
              color: $green;
            }
            &:hover {
              background-color: $green;
            }
          }
        }
      }
    }
  }

	.right {
        .rightimages {
            position: fixed;
            margin-bottom: 10px;
            background: url("img/right_logo.png");
            background-repeat: no-repeat;
            width: image-width("right_logo.png");
            height: image-height("right_logo.png");
        }
	}

  article {
    ul {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      li {
        list-style-position: outside;
        list-style-type: square;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }

    ol {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      li {
        list-style-position: outside;
        list-style: decimal;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }
    strong {
      color: $grey;
    }
    .iDevice {

      a {
        color: $grey;
        text-decoration: underline;
        &:hover {
          color: $green;
        }
      }
      .toc {
        ul {
          padding-left: 5px;
          li {
            a {
              text-decoration: none;
            }
            list-style-type: none;
            font-weight: bold;
            ul li {
              margin-left: 15px !important;
              ul li {
                font-weight: normal !important;
              }
            }
          }
        }
      }
    }

  }
}

div.midnav {
  float: right;

  a.mid-nav-url {
    background-color: $lightgreen;
    border: 1px solid $green;
    color: $grey;

    &:hover {
      background-color: $green;
    }
  }
}

footer {
  .container {
    border-top: 1px solid $green;
  }
}

