@import "compass/css3";
@import "compass/css3/images";

$lightblue: rgb(219, 226, 233);
$blue: rgb(0, 33, 67);
$white: lighten(white, 100%);
$text_black: rgb(51, 51, 51);
$grey: lighten(black, 45%);
$headerimage: "tumlogo.png";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");
@import url("//fonts.googleapis.com/css?family=Droid+Serif:400,700");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 100%;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: $text_black;
  //background-image: url(img/debut_light.png);
  background-color: $white;
  background-repeat: repeat;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

nav {
  ul {
    padding-left: 0;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: $blue;
  letter-spacing: 1px;
}

h2 {
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid $blue;
  margin-bottom: 10px;
}

h3 {
  color: $blue;
  font-size: 14px;
  font-weight: bold;
}

header {
  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray;
  height: 84px;
  span {
    color: white;
    font-size: 30px;
  }

  a {
    float: right;

    .headerimage {
      @include background(url(img/#{$headerimage}));
      height: image-height($headerimage) - 1; // leaks white when full height
      width: image-width($headerimage);
    }
  }
}

#menu-toggle {
  display: none;
}

.content {
  width: 1170px;
  margin: 0 auto;
  .left {
    background-color: $lightblue;
    float: left;
    width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $blue;

    ul {
      li {
        list-style: none;
        line-height: 30px;
        a {
          display: inline-block;
          padding-left: 20px;
          width: 100%;
          color: $grey;
          text-decoration: none;

          &.active {
            color: $blue;
            font-weight: bold;
          }
          &:hover {
            background-color: $blue;
            color: white;
          }
        }

        ul li {
          line-height: 25px;
          a {
            font-size: 90%;
            padding-left: 30px;
          }
        }

      }
    }
  }

	.right {
		width:202px;
		float:right;
		margin-left: 20px;

        .rightimages {
            margin-bottom: 10px;
            //background: url("img/right_logo.png");
            background-repeat: no-repeat;
            //width: image-width("right_logo.png");
            //height: image-height("right_logo.png");
        }
	}


  .middle {
    float: left;
    width: 728px;
  }

  article {
    width: 728px;
    float: left;
    p {
      margin-bottom: 20px;
    }
    ul {
      list-style-position: inside;
      li {
        list-style: square;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }

    ol {
      list-style-position: inside;
      li {
        list-style: decimal;
        margin-left: 20px;
      }
      margin-bottom: 20px;
    }
    strong {
      color: $blue;
      font-weight: bold;
    }
    .lup {
      float: right;
      margin-left: 20px;
    }
    #idevice {
      ul {
        padding-left: 0px !important;
        margin-bottom: 0px;
        li {
          margin-left: 0px;
          padding-left: 0px;
        }

        a {
          display: inline-block;
          width: 100%;
          color: $grey;
          text-decoration: none;
          &:hover {
            color: $blue;
          }
        }

      }
      .toc {
        display: block;
        page-break-after: 0px;
        padding-left: 30px !important;
        li {
          margin-left: 0px !important;
          list-style: none;
          font-weight: bold;
          ul li {
            list-style: disc;
            margin-left: 15px !important;
            ul li {
              font-weight: normal !important;
              margin-left: -10px !important;
            }

          }
        }

      }
    }

  }
}

footer {
  .container {
    margin-top: 30px;
    border-top: 1px solid $blue;

    .copyright {
      font-size: 11px;
      color: $grey;

      strong {
        font-style: italic;
      }
    }
  }
}

@media (max-width:767px) {
  .left{
    margin-left: -250px;
    transition: all 0.4s ease 0s;
    position: absolute;
  }

  body.active{
    .left {
      margin-left: 0px;
      width: 250px;
      transition: all 0.4s ease 0s;
      position: absolute;
    }
  }

  #menu-toggle {
    display: inline-block;
    float: left;
    margin: 0em 1em 0em 1em;
  }
}

