/* line 10, sass/content.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 16, sass/content.scss */
body {
  font-size: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.428571429;
  color: #4d4d4d;
  background-image: url(img/debut_light.png);
  background-repeat: repeat; }

/* line 26, sass/content.scss */
.container {
  width: 1170px;
  margin: 0 auto; }

/* line 32, sass/content.scss */
nav ul {
  padding-left: 0; }

/* line 37, sass/content.scss */
h1 {
  font-size: 24px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px; }
  /* line 42, sass/content.scss */
  h1.pagetitle {
    color: #7db32e; }

/* line 47, sass/content.scss */
h2 {
  font-size: 16px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7db32e; }

/* line 56, sass/content.scss */
h3 {
  font-size: 14px;
  font-weight: bold; }

/* line 61, sass/content.scss */
h1, h2, h3, h4, h5 {
  color: #7db32e; }

/* line 65, sass/content.scss */
header {
  background-color: #7db32e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray; }
  /* line 72, sass/content.scss */
  header span {
    color: white;
    font-size: 30px;
    font-family: "Droid Serif"; }
  /* line 78, sass/content.scss */
  header a {
    float: right; }

/* line 89, sass/content.scss */
.content {
  width: 1170px;
  margin: 0 auto; }
  /* line 92, sass/content.scss */
  .content .left {
    background-color: rgba(219, 232, 194, 0.6);
    float: left;
    width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #7db32e; }
    /* line 103, sass/content.scss */
    .content .left ul li {
      list-style: none;
      line-height: 30px;
      margin-left: 15px; }
      /* line 107, sass/content.scss */
      .content .left ul li > a {
        display: inline-block;
        width: 100%;
        padding-left: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 18px;
        color: #4d4d4d;
        text-decoration: none;
        text-indent: -20px; }
        /* line 118, sass/content.scss */
        .content .left ul li > a.active {
          color: #7db32e;
          font-weight: bold; }
        /* line 122, sass/content.scss */
        .content .left ul li > a:hover {
          background-color: #7db32e;
          color: white; }
  /* line 131, sass/content.scss */
  .content .right {
    width: 202px;
    float: right;
    margin-left: 20px; }
    /* line 136, sass/content.scss */
    .content .right .rightimages {
      margin-bottom: 10px;
      background: url("img/right_logo.png");
      background-repeat: no-repeat;
      width: 200px;
      height: 292px; }
  /* line 146, sass/content.scss */
  .content .middle {
    float: left;
    width: 728px; }
  /* line 151, sass/content.scss */
  .content article {
    width: 728px;
    float: left;
    margin-bottom: 20px; }
    /* line 156, sass/content.scss */
    .content article p {
      margin-bottom: 20px; }
    /* line 159, sass/content.scss */
    .content article table tr p {
      margin: 3px 5px 3px 5px; }
    /* line 162, sass/content.scss */
    .content article ul {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      margin-bottom: 20px; }
      /* line 166, sass/content.scss */
      .content article ul li {
        list-style-position: outside;
        list-style-type: square;
        margin-left: 20px; }
    /* line 174, sass/content.scss */
    .content article ol {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      margin-bottom: 20px; }
      /* line 178, sass/content.scss */
      .content article ol li {
        list-style-position: outside;
        list-style: decimal;
        margin-left: 20px; }
    /* line 185, sass/content.scss */
    .content article strong {
      color: #4d4d4d;
      font-weight: bold; }
    /* line 189, sass/content.scss */
    .content article .lup {
      float: right;
      margin-left: 20px; }
    /* line 194, sass/content.scss */
    .content article .iDevice ul {
      margin-bottom: 0px; }
      /* line 196, sass/content.scss */
      .content article .iDevice ul li {
        margin-left: 0px;
        padding-left: 0px; }
    /* line 201, sass/content.scss */
    .content article .iDevice a {
      color: #4d4d4d;
      text-decoration: underline; }
      /* line 204, sass/content.scss */
      .content article .iDevice a:hover {
        color: #7db32e; }
    /* line 208, sass/content.scss */
    .content article .iDevice .toc {
      display: block;
      page-break-after: 0px;
      padding-left: 30px !important; }
      /* line 212, sass/content.scss */
      .content article .iDevice .toc ul {
        padding-left: 5px; }
        /* line 214, sass/content.scss */
        .content article .iDevice .toc ul li {
          list-style-type: none;
          font-weight: bold; }
          /* line 215, sass/content.scss */
          .content article .iDevice .toc ul li a {
            text-decoration: none; }
          /* line 220, sass/content.scss */
          .content article .iDevice .toc ul li ul li {
            margin-left: 15px !important; }
            /* line 222, sass/content.scss */
            .content article .iDevice .toc ul li ul li ul li {
              font-weight: normal !important; }

/* line 234, sass/content.scss */
div.midnav {
  float: right; }
  /* line 237, sass/content.scss */
  div.midnav a.mid-nav-url {
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: #dbe8c2;
    border-radius: 5px;
    border: 1px solid #7db32e;
    text-decoration: none;
    color: #4d4d4d; }
    /* line 246, sass/content.scss */
    div.midnav a.mid-nav-url:hover {
      background-color: #7db32e;
      text-decoration: none;
      color: white; }

/* line 256, sass/content.scss */
footer .container {
  margin-top: 30px;
  border-top: 1px solid #7db32e; }
  /* line 260, sass/content.scss */
  footer .container .copyright {
    font-size: 11px;
    color: #4d4d4d; }
    /* line 264, sass/content.scss */
    footer .container .copyright strong {
      font-style: italic; }
