@import url("//fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");
@import url("//fonts.googleapis.com/css?family=Droid+Serif:400,700");
/* line 12, sass/content.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 18, sass/content.scss */
body {
  font-size: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.428571429;
  color: #4d4d4d;
  background-image: url(img/debut_light.png);
  background-repeat: repeat; }

/* line 28, sass/content.scss */
.container {
  width: 1170px;
  margin: 0 auto; }

/* line 34, sass/content.scss */
nav ul {
  padding-left: 0; }

/* line 39, sass/content.scss */
h1 {
  font-size: 24px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px; }
  /* line 44, sass/content.scss */
  h1.pagetitle {
    color: #7cb22d; }

/* line 49, sass/content.scss */
h2 {
  font-size: 16px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7cb22d; }

/* line 58, sass/content.scss */
h3 {
  font-size: 14px;
  font-weight: bold; }

/* line 63, sass/content.scss */
h1, h2, h3, h4, h5 {
  color: #7cb22d; }

/* line 67, sass/content.scss */
header {
  background-color: #7cb22d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray; }
  /* line 74, sass/content.scss */
  header span {
    color: white;
    font-size: 30px;
    font-family: "Droid Serif"; }
  /* line 80, sass/content.scss */
  header a {
    float: right; }
    /* line 83, sass/content.scss */
    header a .headerimage {
      background: url(img/tumlogo_bea.png);
      height: 38px;
      width: 73px; }

/* line 91, sass/content.scss */
.content {
  width: 1170px;
  margin: 0 auto; }
  /* line 94, sass/content.scss */
  .content .left {
    background-color: rgba(219, 232, 193, 0.6);
    float: left;
    width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #7cb22d; }
    /* line 105, sass/content.scss */
    .content .left ul li {
      list-style: none;
      line-height: 30px;
      margin-left: 15px; }
      /* line 109, sass/content.scss */
      .content .left ul li > a {
        display: inline-block;
        padding-left: 20px;
        width: 100%;
        line-height: 25px;
        color: #4d4d4d;
        text-decoration: none;
        text-indent: -20px; }
        /* line 118, sass/content.scss */
        .content .left ul li > a.active {
          color: #7cb22d;
          font-weight: bold; }
        /* line 122, sass/content.scss */
        .content .left ul li > a:hover {
          background-color: #7cb22d;
          color: white; }
  /* line 131, sass/content.scss */
  .content .right {
    width: 202px;
    float: right;
    margin-left: 20px; }
    /* line 136, sass/content.scss */
    .content .right .rightimages {
      margin-bottom: 10px;
      background: url("img/right_logo.png");
      background-repeat: no-repeat;
      width: 200px;
      height: 292px; }
  /* line 146, sass/content.scss */
  .content .middle {
    float: left;
    width: 728px; }
  /* line 151, sass/content.scss */
  .content article {
    width: 728px;
    float: left; }
    /* line 154, sass/content.scss */
    .content article p {
      margin-bottom: 20px; }
    /* line 157, sass/content.scss */
    .content article table tr p {
      margin: 3px 5px 3px 5px; }
    /* line 160, sass/content.scss */
    .content article ul {
      margin: 3px 5px 3px 5px;
      padding-left: 0;
      list-style-position: inside;
      margin-bottom: 20px; }
      /* line 164, sass/content.scss */
      .content article ul li {
        list-style-type: square;
        margin-left: 20px; }
    /* line 171, sass/content.scss */
    .content article ol {
      margin: 3px 5px 3px 5px;
      padding-left: 0;
      list-style-position: inside;
      margin-bottom: 20px; }
      /* line 175, sass/content.scss */
      .content article ol li {
        list-style: decimal;
        margin-left: 20px; }
    /* line 181, sass/content.scss */
    .content article strong {
      color: #4d4d4d;
      font-weight: bold; }
    /* line 185, sass/content.scss */
    .content article .lup {
      float: right;
      margin-left: 20px; }
    /* line 190, sass/content.scss */
    .content article .iDevice ul {
      margin-bottom: 0px; }
      /* line 192, sass/content.scss */
      .content article .iDevice ul li {
        margin-left: 0px;
        font-family: "FontAwesome";
        padding-left: 0px; }
    /* line 198, sass/content.scss */
    .content article .iDevice a {
      color: #4d4d4d;
      text-decoration: underline; }
      /* line 201, sass/content.scss */
      .content article .iDevice a:hover {
        color: #7cb22d; }
    /* line 205, sass/content.scss */
    .content article .iDevice .toc {
      display: block;
      page-break-after: 0px;
      padding-left: 30px !important; }
      /* line 209, sass/content.scss */
      .content article .iDevice .toc ul {
        padding-left: 5px; }
        /* line 211, sass/content.scss */
        .content article .iDevice .toc ul li {
          list-style-type: none;
          font-family: "FontAwesome";
          font-weight: bold; }
          /* line 212, sass/content.scss */
          .content article .iDevice .toc ul li a {
            text-decoration: none; }
          /* line 218, sass/content.scss */
          .content article .iDevice .toc ul li ul li {
            margin-left: 15px !important; }
            /* line 220, sass/content.scss */
            .content article .iDevice .toc ul li ul li ul li {
              font-weight: normal !important; }

/* line 233, sass/content.scss */
footer .container {
  margin-top: 30px;
  border-top: 1px solid #7cb22d; }
  /* line 237, sass/content.scss */
  footer .container .copyright {
    font-size: 11px;
    color: #4d4d4d; }
    /* line 241, sass/content.scss */
    footer .container .copyright strong {
      font-style: italic; }
