/* line 9, sass/content.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 15, sass/content.scss */
body {
  font-size: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.428571429;
  color: #4d4d4d;
  background-image: url(img/debut_light.png);
  background-repeat: repeat; }

/* line 25, sass/content.scss */
.container {
  width: 100%;
  margin: 0 auto; }

/* line 31, sass/content.scss */
nav ul {
  padding-left: 0; }

/* line 36, sass/content.scss */
.middle h1 {
  font-size: 24px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px; }
  /* line 41, sass/content.scss */
  .middle h1.pagetitle {
    color: #7cb22d; }

/* line 46, sass/content.scss */
.middle h2 {
  font-size: 16px;
  font-family: "Droid Serif";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7cb22d; }

/* line 55, sass/content.scss */
.middle h3 {
  font-size: 14px;
  font-weight: bold; }

/* line 61, sass/content.scss */
.middle h1, .middle h2, .middle h3, .middle h4, .middle h5 {
  color: #7cb22d; }

/* line 66, sass/content.scss */
header {
  background-color: #7cb22d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px -2px gray;
  right: 10px;
  left: 10px; }
  /* line 76, sass/content.scss */
  header.affix {
    position: fixed;
    top: 0;
    right: 10px;
    left: 10px;
    z-index: 10; }
    /* line 83, sass/content.scss */
    header.affix span {
      color: white;
      font-size: 30px;
      font-family: "Droid Serif";
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      width: 80%; }
  /* line 95, sass/content.scss */
  header span {
    color: white;
    font-size: 30px;
    font-family: "Droid Serif"; }
  /* line 101, sass/content.scss */
  header a {
    float: right; }

/* line 112, sass/content.scss */
.content {
  width: 1170px;
  margin: 77px auto; }
  /* line 115, sass/content.scss */
  .content hr {
    color: #777777;
    background-color: #777777;
    height: 1px; }
  /* line 121, sass/content.scss */
  .content .left_wrapper {
    float: left;
    width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }
    /* line 128, sass/content.scss */
    .content .left_wrapper .left {
      float: left;
      width: 200px;
      min-height: 1px; }
      /* line 132, sass/content.scss */
      .content .left_wrapper .left nav {
        background-color: rgba(219, 232, 193, 0.6);
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #7cb22d;
        width: 185px;
        position: fixed; }
        /* line 142, sass/content.scss */
        .content .left_wrapper .left nav.affix-top {
          position: static; }
        /* line 146, sass/content.scss */
        .content .left_wrapper .left nav.affix {
          position: fixed;
          top: 94px; }
        /* line 152, sass/content.scss */
        .content .left_wrapper .left nav ul li {
          list-style: none;
          line-height: 30px;
          margin-left: 15px; }
          /* line 156, sass/content.scss */
          .content .left_wrapper .left nav ul li > a {
            display: inline-block;
            padding-left: 20px;
            width: 100%;
            padding-top: 4px;
            padding-bottom: 4px;
            line-height: 18px;
            color: #4d4d4d;
            text-decoration: none;
            text-indent: -20px; }
            /* line 167, sass/content.scss */
            .content .left_wrapper .left nav ul li > a.active {
              color: #7cb22d;
              font-weight: bold; }
            /* line 171, sass/content.scss */
            .content .left_wrapper .left nav ul li > a:hover {
              background-color: #7cb22d;
              color: white; }
  /* line 182, sass/content.scss */
  .content .right {
    width: 202px;
    float: right;
    margin-left: 20px;
    min-height: 1px; }
    /* line 188, sass/content.scss */
    .content .right .rightimages {
      position: fixed;
      margin-bottom: 10px;
      background: url("img/right_logo.png");
      background-repeat: no-repeat;
      width: 200px;
      height: 292px; }
  /* line 198, sass/content.scss */
  .content .middle {
    float: left;
    width: 728px; }
  /* line 203, sass/content.scss */
  .content article {
    width: 100%;
    float: left;
    margin-bottom: 20px; }
    /* line 207, sass/content.scss */
    .content article p {
      margin-bottom: 20px; }
    /* line 210, sass/content.scss */
    .content article table td {
      padding: 3px 5px 3px 5px; }
    /* line 213, sass/content.scss */
    .content article table {
      margin-bottom: 20px; }
    /* line 216, sass/content.scss */
    .content article ul {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      margin-bottom: 20px; }
      /* line 220, sass/content.scss */
      .content article ul li {
        list-style-position: outside;
        list-style-type: square;
        margin-left: 20px; }
    /* line 228, sass/content.scss */
    .content article ol {
      margin: 3px 5px 3px 5px;
      padding-left: 40px;
      list-style-position: outside;
      margin-bottom: 20px; }
      /* line 232, sass/content.scss */
      .content article ol li {
        list-style-position: outside;
        list-style: decimal;
        margin-left: 20px; }
    /* line 239, sass/content.scss */
    .content article strong {
      color: #4d4d4d;
      font-weight: bold; }
    /* line 243, sass/content.scss */
    .content article .lup {
      float: right;
      margin-left: 20px; }
    /* line 248, sass/content.scss */
    .content article .iDevice ul {
      margin-bottom: 0px; }
      /* line 250, sass/content.scss */
      .content article .iDevice ul li {
        margin-left: 0px;
        padding-left: 0px; }
    /* line 255, sass/content.scss */
    .content article .iDevice a {
      color: #4d4d4d;
      text-decoration: underline; }
      /* line 258, sass/content.scss */
      .content article .iDevice a:hover {
        color: #7cb22d; }
    /* line 262, sass/content.scss */
    .content article .iDevice .toc {
      display: block;
      page-break-after: 0px;
      padding-left: 30px !important; }
      /* line 266, sass/content.scss */
      .content article .iDevice .toc ul {
        padding-left: 5px; }
        /* line 268, sass/content.scss */
        .content article .iDevice .toc ul li {
          list-style-type: none;
          font-weight: bold; }
          /* line 269, sass/content.scss */
          .content article .iDevice .toc ul li a {
            text-decoration: none; }
          /* line 274, sass/content.scss */
          .content article .iDevice .toc ul li ul li {
            margin-left: 15px !important; }
            /* line 276, sass/content.scss */
            .content article .iDevice .toc ul li ul li ul li {
              font-weight: normal !important; }

/* line 288, sass/content.scss */
div.midnav {
  float: right; }
  /* line 291, sass/content.scss */
  div.midnav a.mid-nav-url {
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: #dbe8c1;
    border-radius: 5px;
    border: 1px solid #7cb22d;
    text-decoration: none;
    color: #4d4d4d; }
    /* line 300, sass/content.scss */
    div.midnav a.mid-nav-url:hover {
      background-color: #7cb22d;
      text-decoration: none;
      color: white; }

/* line 310, sass/content.scss */
footer .container {
  margin-top: 30px;
  border-top: 1px solid #7cb22d; }
  /* line 314, sass/content.scss */
  footer .container .copyright {
    font-size: 11px;
    color: #4d4d4d; }
    /* line 318, sass/content.scss */
    footer .container .copyright strong {
      font-style: italic; }

/* line 325, sass/content.scss */
#menu-toggle {
  display: none; }

@media (max-width: 767px) {
  /* line 330, sass/content.scss */
  .iDevice {
    margin-left: 3vw;
    margin-right: 3vw; }
    /* line 333, sass/content.scss */
    .iDevice .iDevice_inner, .iDevice > p {
      margin-left: 1vw;
      margin-right: 1vw; }

  /* line 338, sass/content.scss */
  .left_wrapper {
    margin-left: -250px;
    transition: all 0.4s ease 0s;
    position: absolute;
    z-index: 1; }

  /* line 344, sass/content.scss */
  .right {
    display: none; }

  /* line 348, sass/content.scss */
  .middle {
    width: 100% !important; }

  /* line 351, sass/content.scss */
  .content {
    width: 100%; }

  /* line 356, sass/content.scss */
  body.active .left_wrapper {
    margin-left: 0px;
    width: 250px;
    transition: all 0.4s ease 0s;
    position: absolute; }
    /* line 364, sass/content.scss */
    body.active .left_wrapper ul li a {
      text-indent: 0px; }
    /* line 370, sass/content.scss */
    body.active .left_wrapper .glyphicon {
      margin: 2px 8px 2px 2px;
      border: 1px solid black;
      border-radius: 2px;
      float: right;
      padding: 3px; }

  /* line 380, sass/content.scss */
  #menu-toggle {
    display: inline-block;
    float: left;
    margin: 0em 1em 0em 1em; } }
